.row {
	display: flex;
	flex-wrap: wrap;
	margin: {
		top: calc(-1 * var(--#{$variable-prefix}gutter-y));
		right: calc(var(--#{$variable-prefix}gutter-x) * -.5);
		left: calc(var(--#{$variable-prefix}gutter-x) * -.5);
	}

	> * {
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		margin-top: var(--#{$variable-prefix}gutter-y);
		padding: {
			right: calc(var(--#{$variable-prefix}gutter-x) * .5);
			left: calc(var(--#{$variable-prefix}gutter-x) * .5);
		}
	}
}

@include make-grid-columns;
