$icomoon-font-family: "enabl-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-star: "\e90d";
$icon-plus: "\e90c";
$icon-download: "\e90b";
$icon-arrow-left: "\e907";
$icon-arrow-right: "\e909";
$icon-arrow-left-circle: "\e904";
$icon-arrow-right-circle: "\e905";
$icon-chevron-left: "\e900";
$icon-chevron-up: "\e901";
$icon-chevron-down: "\e902";
$icon-chevron-right: "\e903";
$icon-linkedin: "\e908";
$icon-instagram: "\e90a";
$icon-envelop: "\e906";

